.Card {
  padding: 10px 15px;
  background-color: #040509;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.Text {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.Text p {
  overflow-wrap: anywhere;
}

.Text img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.CardFooter {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.Rating {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.Rating span {
  min-width: 30px;
  text-align: center;
}

.Rating img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.UpdForm {
  width: 100%;
  margin-bottom: 10px;
}

.UpdForm button {
  cursor: pointer;
  background: #1f59fc;
  color: white;
  padding: 10px 15px;
  margin-left: 10px;
}

.UpdForm button,
textarea {
  border: none;
  border-radius: 5px;
}

.UpdForm textarea {
  background-color: #383738;
  color: white;
  outline: none;
  padding: 10px;
  width: 100%;
  height: 100px;
  resize: none;
  font-family: sans-serif;
  margin-bottom: 5px;
  font-size: 16px;
}

.UpdForm textarea:focus {
  border: 2px solid #0f92fd;
}

.FormControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.FormControls img {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.Controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
