.Container {
  background: url('../../assets/bg.jpg') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 10px;
}

.Forecast {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  justify-content: space-around;
}
