.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.TodoItem button {
  background: transparent;
  border: 1px solid lightblue;
  border-radius: 50%;
  padding: 12px;
  outline: none;
}

.TodoItem .DoneBtn {
  background: url(./../../../assets/check.svg) center center no-repeat;
  background-size: 15px 15px;
  border: 1px solid rgb(62, 145, 62);
}

.TodoItem button:hover {
  background-color: rgba(62, 145, 62, 0.575);
}

.Done {
  text-decoration: line-through;
  color: lightgray;
}
