.App {
  height: 100vh;
}
.Navigation {
  display: flex;
}

.Navigation a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.Navigation a:hover {
  background-color: lightblue;
}

.currentPage {
  background-color: lightblue;
}
