.Navigation {
  display: flex;
  padding: 0 10px;
  gap: 5px;
}

.Navigation a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: black;
}

.Navigation a:hover {
  background-color: lightblue;
  border-bottom: 1px solid black;
}

.currentPage {
  background-color: lightblue;
  border-bottom: 1px solid black;
  cursor: pointer;
  pointer-events: none;
}
